//definir variables

//colores
$mainColor: rgba(102,171,185, .5);
$secondaryColor: rgba(204,221,229, .5);
$keyColor:rgb(7,71,104);
$keyColor2: rgba(7,71,104, .5);
$keyColor3: rgb(102,171,185);

//sizing
$w-100: 100%;
$w-75: 75%;
$w-50: 50%;
$w-25: 25%;
$w-20: 20%





    